<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <h1 class="title">Comment</h1>
  <%= link_to 'Cancel', "/posts/#{params[:post_id]}", class: 'button', 'data-transition' => 'slide-out' %>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="content-padded">
    <%= form_for @comment, url: "/posts/#{params['post_id']}/comments", method: 'post' do |f| %>
      <%= f.text_area :body, 'rows' => '5', 'placeholder' => 'Enter your comment' %>
      <%= f.hidden_field :user_id, 'value' => current_user.id %>
      <%= f.hidden_field :post_id, 'value' => params[:post_id] %>

      <%= f.submit 'Submit', class: 'button-main button-block' %>
    <% end %>
  </div>
</div>