<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar-title">
  <%= link_to 'Back', '/posts', class: 'button-prev', 'data-transition' => 'slide-out' %>
  <h1 class="title">Feedback</h1>
  <%= link_to 'Comment', "/posts/#{params[:id]}/comments/new", class: 'button', 'data-transition' => 'slide-in' %>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="content-padded">
    <p><strong class="bigger"> <%= @post.title %> </strong></p>
    <p><%= @post.body %></p>
    <p><%= "#{@post.votes.sum(:vote_type)} #{"upvote".pluralize(@post.votes.sum(:vote_type))}" %></p>
  </div>
  <div class="content-padded">
    <% if Vote.where(user_id: current_user.id, post_id: params[:id], vote_type: 1).any? %>
      <%= button_to "Voted", "/posts/#{params[:id]}/votes/unvote", class: 'button-success button-block' %>
    <% else %>
      <%= button_to "Upvote", "/posts/#{params[:id]}/votes/upvote", class: 'button-main button-block' %>
    <% end %>
  </div>

  <ul class="list">
    <% @comments.each do |comment| %>
      <li>
        <p><strong class="bigger"><%= comment.user.abbr_name %></strong></p>
        <p><%= comment.body %></p>
      </li>
    <% end %>
  </ul>

</div>